.nav-location, .sidebar-location
{
    display: flex;
    align-items: center;
}

.nav-location
{
    span
    {
        display: block;
        font-size: 1.1rem;
        margin: -1.0rem 0;
        &:last-of-type
        {
            font-size: 1.4rem;
        }
    }
    @include tablet
    {
        span
        {
            font-size: 0.8;
            &:last-of-type
            {
                font-size: 1.2rem;
            }
        }
    }
}

.sidebar-location
{
    i
    {
        font-size: 5rem;
    }
    span
    {
        font-size: 2.1rem;
        margin-left: 1rem;
    }
}