<<<<<<< HEAD
@import 'app-route';

.header
{
=======
@use 'app-route' as *;
.header
{
    background-color: $verde-primary;
}

.nav, .user__dropdown
{
    background-color: $verde-secondary;
}

.user__dropdown
{
    height: auto;
    width: 20rem; 
    padding: 1rem;
}

.header__primary, .nav__primary
{
>>>>>>> 0a67c7a (Actualizacion de diciembre)
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
<<<<<<< HEAD
    .search{
=======
    .header__search{
>>>>>>> 0a67c7a (Actualizacion de diciembre)
        width: 100%;
        order: 1;
        margin: 0.5rem 0;
    }
    @include tablet
    {
<<<<<<< HEAD
        .search
=======
        .header__search
>>>>>>> 0a67c7a (Actualizacion de diciembre)
        {
            width: 50%;
            order: 0;
        }
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 0a67c7a (Actualizacion de diciembre)
